.workaroundBlack {
  background-color: black;
}

@media (max-width: 768px) {
  .workaroundPaddingLeftRightMobile {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
  }
}

.workaroundFullsize {
    height: calc(100vh - 40px);
}

.workaroundSectionPadding {
    padding-top: 50px;
    padding-bottom: 50px;
}

.workaroundSectionPaddingH1 {
    padding-top: 50px;
}

.workaroundAutoMarginTop {
  margin-top: auto;
}

.workaroundImpressumFootAlign {
  display: flex;
  align-items: end;
  min-height: calc(100vh - 200px);
  justify-content: center;
}

